*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common shared style  */
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;


}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.nav-title span{
    color:#FD6E0A ;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747 ;

}